PRIP API: Add GeoFootprint field

As per the Production Service Interface Delivery Point (PRIP) ICD v1.9, from Jan. 2023 onwards an additional field `GeoFootprint` shall be provided in parallel to the existing `Footprint` field. While the latter is formatted as an OData geometry element, the new GeoFootprint field shall be formatted as a GeoJSON geometry object (see sec. 3.1 of [RFC 7946](https://datatracker.ietf.org/doc/html/rfc7946)).

The existing `Footprint` field will be regarded as deprecated from a TBD date onwards.

The content of the `coordinates` product parameter now shows up in both `Footprint` and `GeoFootprint`, but in different formats as requested:
```
[...]
        {
            "Id": "af49048a-e8bd-4107-8419-a8dd2901d8ea",
            "Name": "PTM_TEST_PTM_L1B_P2_20191104T090000_20191104T104110_03000_99_0.1.0_20230131T154154.nc",
            "ContentType": "application/octet-stream",
            "ContentLength": 104,
            "OriginDate": "1970-01-01T00:00:00Z",
            "PublicationDate": "2023-01-31T15:44:09.548Z",
            "EvictionDate": "2023-03-02T15:41:54.097Z",
            "Footprint": "geography'SRID=4326;Polygon((9.198144446327216 48.71449562975078,6.953264500642326 51.369382037860696,110.0 85.0,0.0 0.0))'",
            "GeoFootprint": {
                "type": "Polygon",
                "coordinates": [
                    [
                        [
                            9.198144446327216,
                            48.71449562975078
                        ],
                        [
                            6.953264500642326,
                            51.369382037860696
                        ],
                        [
                            110.0,
                            85.0
                        ],
                        [
                            0.0,
                            0.0
                        ]
                    ]
                ]
            },
[...]
```
